.container {
  max-width: 600px;
  margin: auto;
  width: 100%;
  text-align: center;
}

.button-container {
  margin: 2rem 0;
}

.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin: 0 1rem;
  cursor: pointer;
}

.submit-container {
  margin-top: 2rem;
}

.submit {
  background-color: #52b202;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.values {
  margin-top: 2rem;
  font-size: 1.2rem;
}
